@model NV.Tax.SST.Gateway.MVC.Models.AccountViewModel
<script>
    document.body.style.backgroundImage = "url('../Resources/Sierra2.jpg')";
</script>
<br />
<div class="page-title page-center">
    <h1>Streamlined Sales Tax Gateway</h1>
    
</div>
<br /><br />
@using (Html.BeginForm())
{
    <div class="page-center">
        <div class="login">
            @Html.TextBoxFor(m => m.Username, new { @class="form-control", placeholder="Username", autofocus="", style="width: 100%"})
            <br />
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", style = "width: 100%" })
            <br />
            <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
        </div>
    </div>
}

<!-- Error Handling -->
@if (ViewBag.ErrorMessage == null)
{
    <div class="container alert alert-danger hidden" id="ErrorMessage" name="ErrorMessage" style="text-align:center; vertical-align: middle">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <div class="container alert alert-danger col-sm-4 middle" id="ErrorMessage" name="ErrorMessage">
        <span class="glyphicon glyphicon-exclamation-sign pull-left icon-large" aria-hidden="false"></span><p>@ViewBag.ErrorMessage</p>
    </div>
}

<script>
    function SetVisible(item)
    {
        var myID = document.getElementById(item);

        
    }
</script>