@using NV.Tax.SST.Gateway.MVC.Models

@{
    AdministrationModel admin = new AdministrationModel();
}

<div class="x-form-wrapper">
    <div class="x-form-title"><h2>Administration Home</h2></div>
    <div class="x-form-body">
        <table width="100%">
            <tr class="table-heading">
                <td width="80%"><b>Job</b></td>
                <td><b>Status</b></td>
                <td><b>Information</b></td>
            </tr>
            <tr>
                <td><a href="javascript:toggleData('dataID')">Data Purge Scheduler</a></td>
                <td id="dataID">Off</td>
                <td><div class="btn glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#DataPurge"></div></td>
            </tr>
            <tr>
                <td><a href="javascript:toggleData('jobID')">Job Purge Scheduler</a></td>
                <td id="jobID">Off</td>
                <td><div class=" btn glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#JobPurge"></div></td>
            </tr>
        </table>
    </div>
</div>

<script>
    function toggleData(toggler)
    {
        var item = document.getElementById(toggler);
        item.innerHTML = (item.innerHTML == 'Off') ? 'On' : 'Off';
    }
</script>

<!-- Modal Dialog box for Data Purge Toggler -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="DataPurge">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">SST Gateway - Information Panel</h4>
            </div>
            <div class="modal-body">
                <p>
                    Data Purge Scheduler schedules purge of data older than 1 month. By default it is set off.
                    If it is turned on, all the data transmitted and acknowledgements older than a month will be erased.
                </p>
            </div>

        </div>
    </div>
</div>

<!-- Modal Dialog box for Job Purge Toggler -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="JobPurge">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">SST Gateway - Information Panel</h4>
            </div>
            <div class="modal-body">
                <p>
                    Job Purge Scheduler schedules purge of all the jobs older than 1 month. By default it is set off.
                </p>
            </div>
        </div>
    </div>
</div>