/************************************************************************
**         PROGRAM NAME: Global Styles                                 **
**         AUTHOR:       Yervand Mazlumyan                             **
**         DATE CREATED: 06/14/2015                                    **
**         DESCRIPTION:  Specifying the Main styles used in all the    **
**         pages, including shared pages.                              **
*************************************************************************/
html, body{
    margin: 0;
    padding: 0;

}

/* Changing Navbar height */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

/* Redefining Body Content */
.body-content {
    position: relative;
    min-height: 70.5vh;
    filter: alpha(style=3, opacity=70);
    border-bottom: 3px solid #000;
    margin: 0;
    padding: 0;
}

/* Footer */
.footer-wrapper {
    position: relative;
    background: #fff;
    width: 100%;
    /* font for the footer */
    font-family: 'Cambria';
    color: #fff;
    font-size: 14pt;
    padding-top: 10px;
}

.footer-wrapper ul li a{
    font-family: 'Segoe UI';
    color: #fff;
    font-size: 12pt;
}

.footer-wrapper ul li { 
    font-size: 12pt;
    float: none;
}

.title {
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 40pt;
    font-family: Montserrat;
}

.title h2 {
    font-size: 16pt;
}

.nav li a {
    color: white;
    }

.nav-items:focus {
    background-color: transparent;
}

.form-group .form-control {
    background-color: rgb(128,180,250);
    font-size: 16pt;
    min-height: 50px;
    color: black;
    margin-left: 5px;

}

.btn-outline {
    min-height: 50px;
    width: 120px;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    margin-left: 10px;
    border-radius: 6px;
}

.btn-outline:hover {
    color: white;
    background-color: rgba(120, 120, 120, 0.3)
}

.form-inline {
    display: table;
    margin: 0 auto;
}

.page-logo {
    position: relative;
    background: url('/Resources/SST_Logo.png');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    width: 600px;
    height: 100px;
}

#pageLogo:hover{ 
    background-color: transparent;
}

.nav li a :hover{
    background-color: transparent;
}

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }