/************************************************************************
**         PROGRAM NAME: Global Styles                                 **
**         AUTHOR:       Yervand Mazlumyan                             **
**         DATE CREATED: 06/14/2015                                    **
**         DESCRIPTION:  Specifying the Main styles used in all the    **
**         pages, including shared pages.                              **
*************************************************************************/
html, body{
    margin: 0;
    padding: 0;

}

/* Changing Navbar height */


/* Redefining Body Content */
.body-content {
    position: relative;
    min-height: 70.5vh;
    filter: alpha(style=3, opacity=70);
    border-bottom: 3px solid #000;
    margin: 0;
    padding: 0;
}
/* Footer */
.footer-wrapper {
    position: relative;
    background: #172F46;
    width: 100%;
    /* font for the footer */
    font-family: 'Cambria';
    color: #fff;
    font-size: 14pt;
    padding-top: 10px;
}

/* Login Page */
.login:not(ul){
    position: relative;
    left: 70vh;
    width: 50vh;
    margin-bottom: 2em;
}

.login .btn {
    width: 50vh;
}

.modal-title {
    font-family: Calibri;
}

.body-content .error-message {
    position: relative;
    background: #f2dede;
    width: 70vh;
    border-radius: 3px;
    visibility: hidden;
    font-size: 14pt;
    text-align: center;

}

.footer-wrapper ul li a{
    font-family: 'Segoe UI';
    color: #fff;
    font-size: 12pt;
}

.footer-wrapper ul li { 
    font-size: 12pt;
    float: none;
}

/* Home Page */
.table-result {
    margin: 0 auto;
    position: relative;
    width: 100vh;
    top: 10vh;
    background: #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(100,100,100,0.7) 5px 5px 5px;
}

.table-result table {
    font-size: 12pt;
    text-align: right;
}

.table-result .table-heading {
    font-size: 11pt;
}

.table-result hr {
    display: block;
    background: #000;
    border: 1px solid #000;
}

.page-center {
    position: relative;
    width: 100%;
    text-align: center;
}

.page-title{
    font-family: Calibri;
    text-align: justify;
    left: 36%;
}

.middle {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.middle glyphicon {
    width: 2em;
}

.middle p {
    font-size: 14pt;
    vertical-align: middle;
}

.form-label {
    text-align: left;
    padding-left: 2em;
}

.form-control {
    width: 35%;
}

.form-group {
    width: 150%;
    left: 0;
    position: relative;
}

.form-group {
    left: 15em;
}

.rolegrid {
    position: relative;
    top: -1.5em;
}

.float-left {
    float: left;
}


.x-form-wrapper {
    position: relative;
    left: 35em;
    width: 50%;
    box-shadow: rgba(100,100, 100, 0.8) 5px 5px 5px;
    background-color: transparent;
}

.x-form-wrapper .x-form-title {
    background-color: #818080;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.x-form-wrapper .x-form-body {
    padding: 0.5em;
    background-color: #cecdcd;
}

.x-form-wrapper .x-form-body table tr {
    padding: 5px;
}

.x-form-wrapper .x-form-body .form-group {
    width: 150%;
}

select {
    width: 30%;
    border: 1px solid #111;
    background: transparent;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.clipartbest.com/cliparts/4Tb/85k/4Tb85kqTg.png) 99% / 6% no-repeat #eee;
    margin-bottom: 0.5em;
} 
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}
