<div class="table-result">
    <h3 style="text-align:left">Administration Home</h3>
    <table width="100%" style="text-align: left">
        <tr class="table-heading">
            <td width="80%"><b>Job</b></td>
            <td><b>Status</b></td>
        </tr>
        <tr>
            <td><a href="#">Data Purge Scheduler</a></td>
            <td>Off</td>
        </tr>
        <tr>
            <td><a href="#">Job Purge Scheduler</a></td>
            <td>Off</td>
        </tr>
    </table>
</div>